#projects {
  position: relative;
  min-height: 100vh;
}

#projects .title-link {
  text-decoration: none;
  color: var(--black)
}

#projects .project-list {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.back-button {
  position: fixed;
  bottom: 80px;
  right: 80px;
}

.project-info {
  flex-basis: 40%;
  background-color: var(--accent-dark-blue);
  border-radius: 10px;
  color: var(--white);
  padding: 10px;
  width: 45%;
  max-width: 450px;
}

ul.tech-list {
  display: flex;
  padding-left: 0;
}

ul.tech-list li {
  padding: 1px 5px;
}

ul.tech-list li:hover {
  border: 1px solid var(--shadow-pink);
  box-shadow: 2px 2px 2px var(--shadow-pink);
  border-radius: 6px;
}

.project-list li {
  display: flex;
  flex-direction: column;
  
}

@media(min-width: 1280px) {
  .project-info {
    flex-basis: 25%;
  }
}

@media (max-width: 1200px) {}

@media (max-width: 1000px) {}

@media (max-width: 700px) {}
