#projects {
  position: relative;
  min-height: 100vh;
  background-color: var(--bg2);

}

#projects h1 {
  color: var(--text);
}

#projects .title-link {
  text-decoration: none;
}

#projects .project-list {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.project-info {
  display: flex;
  justify-content: space-between;
  flex-basis: 45%;
  background-color: var(--accent2-transparent);
  border-radius: 10px;
  box-shadow: 2px 2px 4px var(--bg1);
  color: var(--test);
  padding: 10px;
  max-width: 500px;
}

.project-info h3 {
  color: var(--text);
}

ul.tech-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-left: 0;
  margin: 2px;
}

ul.tech-list li {
  display: flex;
  justify-content: center;
  padding: 1px 5px;
  margin: 2px 4px;
  border: 2px solid var(--bg1);
  border-radius: 6px;
}

.project-list li {
  display: flex;
  flex-direction: column;
}

.project-info .project-links {
  display: flex;
  justify-content: center;
  margin: 4px 0;
  gap: 1rem;
}

.project-links a {
  text-decoration: none;
  color: var(--text);
  display: flex;
}

.project-links a:hover {
  color: var(--accent2);
  text-shadow: var(--shadow-color) 3px 3px 4px;
}

.project-links a img {
  margin: auto;
}

img.text-color {
  filter: invert(var(--invert-text));
}

.project-links a .github-link {
  height: 1.5rem;
  width: 1.5rem;
}

@media(min-width: 1280px) {
  .project-info {
    flex-basis: 25%;
  }
}

@media (max-width: 1000px) {
  .back-button {
    position: fixed;
    bottom: 50px;
    right: 50px;
  }
}

@media (max-width: 800px) {
  #projects {
    padding: 15px;
  }
  .project-info {
    flex-basis: 80%;
  }
}
