#education {
  display: flex;
  justify-content: center;
  background-color: var(--bg2);
  color: var(--text);
  min-height: 100vh;
}

#education .education-title {
  text-decoration: none;
  color: var(--text);
}

#education ul {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 30px;
}

#education ul li {
  background-color: var(--accent2-transparent);
  border-radius: 10px;
  border: 2px solid var(--accent2) ;
  box-shadow: 2px 2px 8px var(--accent2-transparent);
  padding: 10px;
  flex-basis: 50%;
}

@media (max-width: 800px) {
  #education ul.certification-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  #education ul.certification-list li {
    flex-basis: 40%;
  }
  #education ul.education-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  #education ul.education-list li {
    flex-basis: 80%;
  }
}

@media (max-width: 500px) {
  #education ul.certification-list li {
    flex-basis: 80%;
  }
}
