#education {
  background-color: var(--accent-light-pink);
  color: var(--black);
  min-height: 100vh;
}

#education .education-title {
  text-decoration: none;
  color: var(--black);
}

#education ul {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 30px;
}

#education ul li {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  padding: 10px;
  flex-basis: 50%;
}
