.locale-selector {
  position: fixed;
  z-index: 2;
  top: 2vh;
  left: 2vw;
}

.selected-locale {
  background-color: var(--accent1);
  color: white;
  border: var(--bg2) solid 2px;
  border-radius: 8px;
  padding: 5px;
  margin: 0 3px;
  opacity: 1;
  font-size: medium;
  font-variant: small-caps;
  font-weight: bold;
}

.unselected-locale {
  background-color: var(--bg2);
  color: white;
  border: var(--accent1) solid 2px;
  border-radius: 8px;
  padding: 5px;
  opacity: 1;
  font-size: medium;
  font-variant: small-caps;
}

.menu .locale-selector {
  position: fixed;
  z-index: 10;
  opacity: 1;
}

@keyframes fade-out {
  to {opacity: 1; z-index: 10}
}

.menu .menu-list {
  list-style: none;
  padding: 20px;
  position: fixed;
  bottom: 20px;
  left: 0; 
  right: 0; 
  margin-inline: auto; 
  width: fit-content;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  background-color: var(--text);
  box-shadow: 2px 4px 8px 4px var(--shadow-color);
  border-radius: 20px;
  z-index: -2;
  opacity: 0;
  animation: fade-out linear forwards;
  animation-timeline: view();
}

.menu .menu-option {
  text-align: center;
}

.menu a {
  text-decoration: none;
  color: var(--bg1);
  padding: 0 10px;
  font-size: 1rem;
  font-variant: small-caps;
  font-weight: bold;
}

@media (max-width: 1300px) {
  .menu .menu-list {
    gap: 2px;
  }
  .locale-selector {
    display: flex;
    flex-direction: column;
    justify-items: stretch;
    gap: 6px;
  }
  .selected-locale {
    opacity: 0.8;
    margin: 0;
    font-size: small;
    font-variant: normal;
  }
  .unselected-locale {
    opacity: 0.8;
    font-size: small;
    font-variant: normal;
  }
}

@media (max-width: 800px) {
  .menu .menu-list {
    display: none;
  }
  header .about-me-buttons .button {
    font-size: 1rem;
  }
}
