.back-button {
  position: fixed;
  z-index: 2;
  bottom: 80px;
  right: 80px;
  border: 2px solid var(--text);
  color: var(--text);
  border-radius: 40%;
  background-color: var(--bg1);
}

.back-button:hover {
  box-shadow: 2px 2px 2px var(--accent1);
  background-color: var(--bg2);
}

.material-icons {
  transform: translateY(3px);
}

.material-icons:hover {
  animation:  up 0.5s;
  animation-iteration-count: infinite;
  transform: translateY(0);
}

@keyframes up {
  from {transform: translateY(0);}
  to {transform: translateY(3px);}
}

.menu {
  position: relative;
  z-index: -1;
  opacity: 0;
  animation: fade-in linear forwards;
  animation-timeline: view();
}

@keyframes fade-in {
  to {opacity: 1; z-index: 10}
}

.menu .menu-list {
  list-style: none;
  padding: 20px;
  position: fixed;
  bottom: 20px;
  left: 0; 
  right: 0; 
  margin-inline: auto; 
  width: fit-content;
  display: inline-flex;
  justify-content: center;
  gap: 8px;
  background-color: var(--text);
  box-shadow: 2px 4px 8px 4px var(--shadow-color);
  border-radius: 20px;
}

.menu a {
  text-decoration: none;
  color: var(--bg1);
  padding: 0 10px;
  font-size: 1rem;
  font-variant: small-caps;
  font-weight: bold;
}

@media (max-width: 800px) {
  .menu {
    display: none;
  }
}

