#soft-skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  font-size: 1.5rem;
}

.soft-skill-title-link {
  text-decoration: none;
  color: var(--white);
}

#soft-skills ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 2.3rem;
  flex-wrap: wrap;
  justify-content: center;
}

#soft-skills li {
  display: flex;
  flex-direction: column;
  justify-items: baseline;
  align-items: center;
  width: 230px;
  text-align: center;
  padding: 10px;
}

#soft-skills li img {
  width: 170px;
}

#soft-skills .skill-container {
  border: 4px solid var(--accent-light-pink);
  background-color: var(--white);
  padding: 30px 30px;
  width: 150px;
  border-radius: 50%;
}

#soft-skills li img {
  height: 70px;
  width: 70px;
  object-fit: contain;
  align-self: center;
}

#soft-skills li h4{
  margin: 0.5rem 0;
}

#soft-skills li p {
  font-size: 1rem;
}

@media (max-width: 700px) {
  section {
    padding: 25px;
  }
  #soft-skills ul {
    gap: 1rem;
  }
  #soft-skills li {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 15px;
  }
  #soft-skills .skill-details {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 400px) {
  #soft-skills ul {
    gap: 1rem;
  }
  #soft-skills li {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 15px;
  }
  #soft-skills .skill-container {
    padding: 12px 12px;
    width: 100px;
  }
  #soft-skills li img {
    height: 50px;
    width: 50px;
    object-fit: contain;
    align-self: center;
  }
  #soft-skills li h4 {
    font-size: 1.3rem;
  }
  #soft-skills li p {
    font-size: 0.8rem;
  }
}
