footer {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-bottom: 130px;
}

footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 30px;
  justify-content: center;
}

footer li {
  background-color: var(--black);
  padding: 15px;
  border: 6px solid var(--white);
  border-radius: 10%;
}

.social svg {
  width: 80px;
  height: 80px;
  fill: var(--white)
}

@media (max-width: 1000px) {
  .social svg {
    width: 65px;
    height: 65px;
    fill: var(--white)
  }
}

@media (max-width: 700px) {
  footer ul {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
  }

  .social {
    justify-items: center;
  }

  .social svg {
    width: 50px;
    height: 50px;
    fill: var(--white)
  }
}
